<div class="tree">
    {% if nodes.0.value %}
    <ul>
        <li>
            <a href="#">{{ nodes.0.value }}</a>
            <ul>
                {% if nodes.1.value %}
                <li>
                    <a href="#">{{ nodes.1.value }}</a>
                    {% if nodes.3.value or nodes.4.value %}
                    <ul>
                        {% if nodes.3.value %}
                        <li>
                            <a href="#">{{ nodes.3.value }}</a>
                            {% if nodes.7.value or nodes.8.value %}
                            <ul>
                                {% if nodes.7.value %}
                                <li>
                                    <a href="#">{{ nodes.7.value }}</a>
                                    {% if nodes.15.value or nodes.16.value %}
                                    <ul>
                                        {% if nodes.15.value %}
                                        <li>
                                            <a href="#">{{ nodes.15.value }}</a>
                                            {% if nodes.31.value or nodes.32.value %}
                                            <ul>
                                                {% if nodes.31.value %}
                                                <li>
                                                    <a href="#">{{ nodes.31.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.32.value %}
                                                <li>
                                                    <a href="#">{{ nodes.32.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                        {% if nodes.16.value %}
                                        <li>
                                            <a href="#">{{ nodes.16.value }}</a>
                                            {% if nodes.33.value or nodes.34.value %}
                                            <ul>
                                                {% if nodes.33.value %}
                                                <li>
                                                    <a href="#">{{ nodes.33.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.34.value %}
                                                <li>
                                                    <a href="#">{{ nodes.34.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endif %}
                                {% if nodes.8.value %}
                                <li>
                                    <a href="#">{{ nodes.8.value }}</a>
                                    {% if nodes.17.value or nodes.18.value %}
                                    <ul>
                                        {% if nodes.17.value %}
                                        <li>
                                            <a href="#">{{ nodes.17.value }}</a>
                                            {% if nodes.35.value or nodes.36.value %}
                                            <ul>
                                                {% if nodes.35.value %}
                                                <li>
                                                    <a href="#">{{ nodes.35.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.36.value %}
                                                <li>
                                                    <a href="#">{{ nodes.36.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                        {% if nodes.18.value %}
                                        <li>
                                            <a href="#">{{ nodes.18.value }}</a>
                                            {% if nodes.37.value or nodes.38.value %}
                                            <ul>
                                                {% if nodes.37.value %}
                                                <li>
                                                    <a href="#">{{ nodes.37.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.38.value %}
                                                <li>
                                                    <a href="#">{{ nodes.38.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if nodes.4.value %}
                        <li>
                            <a href="#">{{ nodes.4.value }}</a>
                            {% if nodes.9.value or nodes.10.value %}
                            <ul>
                                {% if nodes.9.value %}
                                <li>
                                    <a href="#">{{ nodes.9.value }}</a>
                                    {% if nodes.19.value or nodes.20.value %}
                                    <ul>
                                        {% if nodes.19.value %}
                                        <li>
                                            <a href="#">{{ nodes.19.value }}</a>
                                            {% if nodes.39.value or nodes.40.value %}
                                            <ul>
                                                {% if nodes.39.value %}
                                                <li>
                                                    <a href="#">{{ nodes.39.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.40.value %}
                                                <li>
                                                    <a href="#">{{ nodes.40.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                        {% if nodes.20.value %}
                                        <li>
                                            <a href="#">{{ nodes.20.value }}</a>
                                            {% if nodes.41.value or nodes.42.value %}
                                            <ul>
                                                {% if nodes.41.value %}
                                                <li>
                                                    <a href="#">{{ nodes.41.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.42.value %}
                                                <li>
                                                    <a href="#">{{ nodes.42.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endif %}
                                {% if nodes.10.value %}
                                <li>
                                    <a href="#">{{ nodes.10.value }}</a>
                                    {% if nodes.21.value or nodes.22.value %}
                                    <ul>
                                        {% if nodes.21.value %}
                                        <li>
                                            <a href="#">{{ nodes.21.value }}</a>
                                            {% if nodes.42.value or nodes.43.value %}
                                            <ul>
                                                {% if nodes.42.value %}
                                                <li>
                                                    <a href="#">{{ nodes.42.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.43.value %}
                                                <li>
                                                    <a href="#">{{ nodes.43.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                        {% if nodes.22.value %}
                                        <li>
                                            <a href="#">{{ nodes.22.value }}</a>
                                            {% if nodes.44.value or nodes.45.value %}
                                            <ul>
                                                {% if nodes.44.value %}
                                                <li>
                                                    <a href="#">{{ nodes.44.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.45.value %}
                                                <li>
                                                    <a href="#">{{ nodes.45.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </li>
                {% endif %}
                {% if nodes.2.value %}
                <li>
                    <a href="#">{{ nodes.2.value }}</a>
                    {% if nodes.5.value or nodes.6.value %}
                    <ul>
                        {% if nodes.5.value %}
                        <li>
                            <a href="#">{{ nodes.5.value }}</a>
                            {% if nodes.11.value or nodes.12.value %}
                            <ul>
                                {% if nodes.11.value %}
                                <li>
                                    <a href="#">{{ nodes.11.value }}</a>
                                    {% if nodes.23.value or nodes.24.value %}
                                    <ul>
                                        {% if nodes.23.value %}
                                        <li>
                                            <a href="#">{{ nodes.23.value }}</a>
                                            {% if nodes.46.value or nodes.47.value %}
                                            <ul>
                                                {% if nodes.46.value %}
                                                <li>
                                                    <a href="#">{{ nodes.46.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.47.value %}
                                                <li>
                                                    <a href="#">{{ nodes.47.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                        {% if nodes.24.value %}
                                        <li>
                                            <a href="#">{{ nodes.24.value }}</a>
                                            {% if nodes.48.value or nodes.49.value %}
                                            <ul>
                                                {% if nodes.48.value %}
                                                <li>
                                                    <a href="#">{{ nodes.48.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.49.value %}
                                                <li>
                                                    <a href="#">{{ nodes.49.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endif %}
                                {% if nodes.12.value %}
                                <li>
                                    <a href="#">{{ nodes.12.value }}</a>
                                    {% if nodes.25.value or nodes.26.value %}
                                    <ul>
                                        {% if nodes.25.value %}
                                        <li>
                                            <a href="#">{{ nodes.25.value }}</a>
                                            {% if nodes.50.value or nodes.51.value %}
                                            <ul>
                                                {% if nodes.50.value %}
                                                <li>
                                                    <a href="#">{{ nodes.50.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.51.value %}
                                                <li>
                                                    <a href="#">{{ nodes.51.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                        {% if nodes.26.value %}
                                        <li>
                                            <a href="#">{{ nodes.26.value }}</a>
                                            {% if nodes.52.value or nodes.53.value %}
                                            <ul>
                                                {% if nodes.52.value %}
                                                <li>
                                                    <a href="#">{{ nodes.52.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.53.value %}
                                                <li>
                                                    <a href="#">{{ nodes.53.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if nodes.6.value %}
                        <li>
                            <a href="#">{{ nodes.6.value }}</a>
                            {% if nodes.13.value or nodes.14.value %}
                            <ul>
                                {% if nodes.13.value %}
                                <li>
                                    <a href="#">{{ nodes.13.value }}</a>
                                    {% if nodes.27.value or nodes.28.value %}
                                    <ul>
                                        {% if nodes.27.value %}
                                        <li>
                                            <a href="#">{{ nodes.27.value }}</a>
                                            {% if nodes.54.value or nodes.55.value %}
                                            <ul>
                                                {% if nodes.54.value %}
                                                <li>
                                                    <a href="#">{{ nodes.54.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.55.value %}
                                                <li>
                                                    <a href="#">{{ nodes.55.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                        {% if nodes.28.value %}
                                        <li>
                                            <a href="#">{{ nodes.28.value }}</a>
                                            {% if nodes.56.value or nodes.57.value %}
                                            <ul>
                                                {% if nodes.56.value %}
                                                <li>
                                                    <a href="#">{{ nodes.56.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.57.value %}
                                                <li>
                                                    <a href="#">{{ nodes.57.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endif %}
                                {% if nodes.14.value %}
                                <li>
                                    <a href="#">{{ nodes.14.value }}</a>
                                    {% if nodes.29.value or nodes.30.value %}
                                    <ul>
                                        {% if nodes.29.value %}
                                        <li>
                                            <a href="#">{{ nodes.29.value }}</a>
                                            {% if nodes.58.value or nodes.59.value %}
                                            <ul>
                                                {% if nodes.58.value %}
                                                <li>
                                                    <a href="#">{{ nodes.58.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.59.value %}
                                                <li>
                                                    <a href="#">{{ nodes.59.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                        {% if nodes.30.value %}
                                        <li>
                                            <a href="#">{{ nodes.30.value }}</a>
                                            {% if nodes.60.value or nodes.61.value %}
                                            <ul>
                                                {% if nodes.60.value %}
                                                <li>
                                                    <a href="#">{{ nodes.60.value }}</a>
                                                </li>
                                                {% endif %}
                                                {% if nodes.61.value %}
                                                <li>
                                                    <a href="#">{{ nodes.61.value }}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </li>
    </ul>
    {% endif %}
</div>